header{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    background: #87EA00;
}

.navigation{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

li{
    font-size: 1.8rem;
    font-family: Epilogue;
    font-style: normal;
    font-weight: normal;
}