body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Epilogue', sans-serif;
}

h3{
  font-size: 1.4rem;
}

h2{
  font-size: 1.6rem;
}

h1{
  font-size: 1.8rem;
}
